name: Sync with upstream
on:
  schedule:
    - cron: "30 22 * * *"
  workflow_dispatch:

jobs:
  merge-upstream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Git
        uses: oleksiyrudenko/gha-git-credentials@v2-latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Pull from upstream
        run: |
          git config pull.rebase false
          git pull https://github.com/LSPosed/MagiskOnWSALocal.git main
        
      - name: Push Changes
        run: git push origin main
